<div id="page-wrap">
    <div id="max-width-column" *ngIf="auth.user | async">
        <app-nav-bar></app-nav-bar>
        <div id="content-wrap">
            <router-outlet></router-outlet>
        </div>
        <button (click)="signOutClicked()">Sign Out</button>
    </div>
    <div id="max-width-column" *ngIf="!(auth.user | async)">
        <h1>You need to sign in first</h1>
        <h2>List of activities</h2>
        <h3>Angular - OK</h3>
        <h3>Github - OK</h3>
        <h3>Travis - OK</h3>
        <button (click)="signInClicked()">Sign in with Google</button>
    </div>
</div>